body {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
}

table th {
    width: 50px;
    height: 10px;
    font-size: 8;
    border: 2px #808080 solid;
    padding: 0px;
    text-align: center;
    background-color: #bfbfbf;
}

table td {
    width: 50px;
    height: 50px;
    font-size: 16pt;
    border: 2px #808080 solid;
    padding: 0px;
    text-align: center;
}

table td.black {
    background-color: #bfbfbf;
}

td > input[type=text] {
    width: 50px;
    height: 50px;
    text-align: center;
}

label input[type=file] {
    display: none;
}

div .choose-file {
    margin: auto;
    width: 250px;
}

td.tag {
    font-size: 14px;
    text-align: left;
    vertical-align: top;
    padding-left: 2px;
}

td.character {
    font-size: 36px;
}

#buttons: {
    margin-top: 20px;
}

.disabled {
    display: none;
}
